.card-span {
  font-weight: 800;
}

body{
  display: flex;
  flex-direction: row;
  width: 98vw;
  align-items: center;
  justify-content: center;

}

#card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid grey;
}

#card img {
  width: 20vh;
  padding-right: 2vh;
}

#random {
  margin-left: 10%;
}

#box {
  height: 30vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid black
}

button {
  height: 30vh;
  width: 60vw;
  text-align: center;
}